body {
    background-color: #f2f4fa;
}

.sendcoin-container {
    display: block;
    background-color: white;
    border: 2px solid rgb(255, 255, 255);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    margin: 20px auto;
    width: 50%;
    padding: 20px;
}

.sendcoin-container h2 {
    padding-top: 10px;
    padding-bottom: 40px;
    text-align: center;
    color: darkcyan;
   
}

.sendcoin-container form {
    display: flex;
    flex-direction: column;
}

.sendcoin-container form div {
    margin-bottom: 15px; /* Thêm khoảng cách giữa các phần tử */
}

.sendcoin-container form div:last-child {
    margin-bottom: 0; /* Loại bỏ khoảng cách dưới phần tử cuối cùng */
}

.sendcoin-container form button {
    padding: 10px;
    background-color: #334934;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 5px; /* Thêm bo góc cho nút */
}

.sendcoin-container form button:hover {
    background-color: #45a049;
}